.button_one{
    height:60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;    
    font-size: 18px;
    font-weight: bold;    
    cursor: pointer;
    background: white;
    color:black;
    /* border:4px solid blue; */
}
.button_one:hover{
    background-color:black;
    color:white;
}

.button_two{
    height:60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;    
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;    
    border:3px solid black;
    background-color: white;
    color:black;
}
.button_two:hover{
    background-color: rgb(255, 255, 255);
    color:black;
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
}

.button_three{
    height:60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;    
    font-size: 18px;
    font-weight: bold;    
    cursor: pointer;
    border:3px solid black;
    background-color: white;
    color:black;
    box-shadow: 5px 5px 1px black;
}
.button_three:hover{
    background-color: rgb(255, 255, 255);
    color:black;  
    box-shadow: none;
}

.button_four{
    position: relative;
    height:60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;    
    font-size: 18px;
    font-weight: bold;    
    cursor: pointer;
    border:3px solid black;
    background-color: white;
    color:black;
}
.button_four:after {
  background-color: #111;
  border-radius: 15px;
  position:absolute;
  content: "";
  inset: 0;
  z-index: -1;
  transform: translate(8px,8px);
  transition: transform 0.4s ease;
}
.button_four:hover:after {
  transform: translate(0, 0);
}

.button_five{
    position: relative;
    height:60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;    
    font-size: 18px;
    font-weight: bold;    
    cursor: pointer;
    border:3px solid black;
    background-color: white;
    color:black;
}
.button_five:after {
  background-color: black;
  border-radius: 15px;
  position:absolute;
  content: "";
  inset: 0;  
  z-index: -1;
  transform: translate(0px,0px);
  transition:transform 0.4s ease;
}
.button_five:hover:after {
  transform: translate(8px,8px);
}

.button_six{
    height:60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;    
    font-size: 18px;
    font-weight: bold;    
    cursor: pointer;
    border:3px solid black;
    background-color: white;
    color:black;
    transition: transform 0.5s ease;
}
.button_six:hover{
    transform: translateY(-20px);
    background-color: black;
    color:white;    
}

.button_seven{
    height:60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;    
    font-size: 18px;
    font-weight: bold;    
    cursor: pointer;
    border:3px solid black;
    background-color: white;
    color:black;
    transition: transform 0.5s ease;
}
.button_seven:hover{
    transform: translateY(20px);
    background-color: black;
    color:white;    
}
.button_eight{
    height:60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;    
    font-size: 18px;
    font-weight: bold;    
    cursor: pointer;
    border:3px solid black;
    background-color: white;
    color:black;
    /* transition: transform 0.5s ease; */
}
.button_eight:hover{
    transform: rotate(360deg);
    transition:  1s ease;

}

