*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 150px;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    position: relative;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    margin: 4px;
    padding: 4px;
    /* border:4px solid red; */
}
.container h1{
    margin: 4px;
    padding: 4px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 1px black;
    /* border:4px solid green; */
}
.container div{
    margin: 4px;
    padding: 4px;
    height: 250px;
    box-shadow: 0px 0px 1px black;
}
.container .html,
.container .css,
.container .js{  
    display: flex;
    flex-direction: column;
}
.container .html h2,
.container .css h2,
.container  .js h2{ 
    margin-top: 20px;
    font-style: italic;
    font-size: 26px;
    color:red;
}
.container .html p,
.container .css p,
.container  .js p{ 
    margin-top: 1500px;
    margin:auto;
    width: 80%;
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
@media (max-width:900px) {
    
.container h1{
    font-size: 20px;
}
.container div{
     height: auto;
}
.container .html h2,
.container .css h2,
.container  .js h2{ 
    font-size:16px;
    margin-top: 10px;
}
.container .html p,
.container .css p,
.container  .js p{
  margin-top: 20px;
  font-size:10px; 
}
}